<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>元件 70000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1194,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1194,20}}</string>
				<key>sourceSize</key>
				<string>{1194,20}</string>
			</dict>
			<key>元件 70001</key>
			<dict>
				<key>frame</key>
				<string>{{0,20},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70002</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70003</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70004</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70005</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70006</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70007</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70008</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70009</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70010</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70011</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70012</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70013</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70014</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70015</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70016</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70017</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70018</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70019</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70020</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70021</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70022</key>
			<dict>
				<key>frame</key>
				<string>{{0,440},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70023</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70024</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70025</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70026</key>
			<dict>
				<key>frame</key>
				<string>{{0,520},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70027</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70028</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70029</key>
			<dict>
				<key>frame</key>
				<string>{{0,580},{1194,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1194,20}}</string>
				<key>sourceSize</key>
				<string>{1194,20}</string>
			</dict>
			<key>元件 70030</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70031</key>
			<dict>
				<key>frame</key>
				<string>{{0,620},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70032</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70033</key>
			<dict>
				<key>frame</key>
				<string>{{0,660},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70034</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70035</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70036</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70037</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70038</key>
			<dict>
				<key>frame</key>
				<string>{{0,760},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70039</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70040</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70041</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70042</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70043</key>
			<dict>
				<key>frame</key>
				<string>{{0,860},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70044</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70045</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70046</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70047</key>
			<dict>
				<key>frame</key>
				<string>{{0,940},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70048</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70049</key>
			<dict>
				<key>frame</key>
				<string>{{0,980},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70050</key>
			<dict>
				<key>frame</key>
				<string>{{0,1000},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70051</key>
			<dict>
				<key>frame</key>
				<string>{{0,1020},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70052</key>
			<dict>
				<key>frame</key>
				<string>{{0,1040},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70053</key>
			<dict>
				<key>frame</key>
				<string>{{0,1060},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70054</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70055</key>
			<dict>
				<key>frame</key>
				<string>{{0,1100},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70056</key>
			<dict>
				<key>frame</key>
				<string>{{0,1120},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70057</key>
			<dict>
				<key>frame</key>
				<string>{{0,1140},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70058</key>
			<dict>
				<key>frame</key>
				<string>{{0,1160},{1193,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{1193,20}}</string>
				<key>sourceSize</key>
				<string>{1193,20}</string>
			</dict>
			<key>元件 70059</key>
			<dict>
				<key>frame</key>
				<string>{{0,1180},{1194,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1194,20}}</string>
				<key>sourceSize</key>
				<string>{1194,20}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>long.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>long.png</string>
		</dict>
	</dict>
</plist>
