<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>元件 170000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{196,100}}</string>
				<key>offset</key>
				<string>{-93,-47}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{186,94},{196,100}}</string>
				<key>sourceSize</key>
				<string>{196,100}</string>
			</dict>
			<key>元件 170001</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{204,104}}</string>
				<key>offset</key>
				<string>{-89,-45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,90},{204,104}}</string>
				<key>sourceSize</key>
				<string>{204,104}</string>
			</dict>
			<key>元件 170002</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{210,108}}</string>
				<key>offset</key>
				<string>{-86,-43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{172,86},{210,108}}</string>
				<key>sourceSize</key>
				<string>{210,108}</string>
			</dict>
			<key>元件 170003</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{216,110}}</string>
				<key>offset</key>
				<string>{-83,-42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,84},{216,110}}</string>
				<key>sourceSize</key>
				<string>{216,110}</string>
			</dict>
			<key>元件 170004</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{222,114}}</string>
				<key>offset</key>
				<string>{-80,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,80},{222,114}}</string>
				<key>sourceSize</key>
				<string>{222,114}</string>
			</dict>
			<key>元件 170005</key>
			<dict>
				<key>frame</key>
				<string>{{222,110},{228,118}}</string>
				<key>offset</key>
				<string>{-77,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{154,76},{228,118}}</string>
				<key>sourceSize</key>
				<string>{228,118}</string>
			</dict>
			<key>元件 170006</key>
			<dict>
				<key>frame</key>
				<string>{{450,110},{236,120}}</string>
				<key>offset</key>
				<string>{-73,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{146,74},{236,120}}</string>
				<key>sourceSize</key>
				<string>{236,120}</string>
			</dict>
			<key>元件 170007</key>
			<dict>
				<key>frame</key>
				<string>{{686,110},{242,124}}</string>
				<key>offset</key>
				<string>{-70,-35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,70},{242,124}}</string>
				<key>sourceSize</key>
				<string>{242,124}</string>
			</dict>
			<key>元件 170008</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{248,126}}</string>
				<key>offset</key>
				<string>{-67,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,68},{248,126}}</string>
				<key>sourceSize</key>
				<string>{248,126}</string>
			</dict>
			<key>元件 170009</key>
			<dict>
				<key>frame</key>
				<string>{{248,234},{254,130}}</string>
				<key>offset</key>
				<string>{-64,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,64},{254,130}}</string>
				<key>sourceSize</key>
				<string>{254,130}</string>
			</dict>
			<key>元件 170010</key>
			<dict>
				<key>frame</key>
				<string>{{502,234},{260,134}}</string>
				<key>offset</key>
				<string>{-61,-30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,60},{260,134}}</string>
				<key>sourceSize</key>
				<string>{260,134}</string>
			</dict>
			<key>元件 170011</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{266,136}}</string>
				<key>offset</key>
				<string>{-58,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,58},{266,136}}</string>
				<key>sourceSize</key>
				<string>{266,136}</string>
			</dict>
			<key>元件 170012</key>
			<dict>
				<key>frame</key>
				<string>{{266,368},{274,140}}</string>
				<key>offset</key>
				<string>{-54,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{108,54},{274,140}}</string>
				<key>sourceSize</key>
				<string>{274,140}</string>
			</dict>
			<key>元件 170013</key>
			<dict>
				<key>frame</key>
				<string>{{540,368},{280,144}}</string>
				<key>offset</key>
				<string>{-51,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{102,50},{280,144}}</string>
				<key>sourceSize</key>
				<string>{280,144}</string>
			</dict>
			<key>元件 170014</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{286,146}}</string>
				<key>offset</key>
				<string>{-48,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{96,48},{286,146}}</string>
				<key>sourceSize</key>
				<string>{286,146}</string>
			</dict>
			<key>元件 170015</key>
			<dict>
				<key>frame</key>
				<string>{{286,512},{292,150}}</string>
				<key>offset</key>
				<string>{-45,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,44},{292,150}}</string>
				<key>sourceSize</key>
				<string>{292,150}</string>
			</dict>
			<key>元件 170016</key>
			<dict>
				<key>frame</key>
				<string>{{578,512},{298,152}}</string>
				<key>offset</key>
				<string>{-42,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,42},{298,152}}</string>
				<key>sourceSize</key>
				<string>{298,152}</string>
			</dict>
			<key>元件 170017</key>
			<dict>
				<key>frame</key>
				<string>{{0,664},{304,156}}</string>
				<key>offset</key>
				<string>{-39,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,38},{304,156}}</string>
				<key>sourceSize</key>
				<string>{304,156}</string>
			</dict>
			<key>元件 170018</key>
			<dict>
				<key>frame</key>
				<string>{{304,664},{312,160}}</string>
				<key>offset</key>
				<string>{-35,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,34},{312,160}}</string>
				<key>sourceSize</key>
				<string>{312,160}</string>
			</dict>
			<key>元件 170019</key>
			<dict>
				<key>frame</key>
				<string>{{616,664},{318,162}}</string>
				<key>offset</key>
				<string>{-32,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,32},{318,162}}</string>
				<key>sourceSize</key>
				<string>{318,162}</string>
			</dict>
			<key>元件 170020</key>
			<dict>
				<key>frame</key>
				<string>{{0,826},{324,166}}</string>
				<key>offset</key>
				<string>{-29,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,28},{324,166}}</string>
				<key>sourceSize</key>
				<string>{324,166}</string>
			</dict>
			<key>元件 170021</key>
			<dict>
				<key>frame</key>
				<string>{{324,826},{330,169}}</string>
				<key>offset</key>
				<string>{-26,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,25},{330,169}}</string>
				<key>sourceSize</key>
				<string>{330,169}</string>
			</dict>
			<key>元件 170022</key>
			<dict>
				<key>frame</key>
				<string>{{654,826},{336,172}}</string>
				<key>offset</key>
				<string>{-23,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,22},{336,172}}</string>
				<key>sourceSize</key>
				<string>{336,172}</string>
			</dict>
			<key>元件 170023</key>
			<dict>
				<key>frame</key>
				<string>{{0,998},{343,176}}</string>
				<key>offset</key>
				<string>{-20,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,18},{343,176}}</string>
				<key>sourceSize</key>
				<string>{343,176}</string>
			</dict>
			<key>元件 170024</key>
			<dict>
				<key>frame</key>
				<string>{{343,998},{350,178}}</string>
				<key>offset</key>
				<string>{-16,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,16},{350,178}}</string>
				<key>sourceSize</key>
				<string>{350,178}</string>
			</dict>
			<key>元件 170025</key>
			<dict>
				<key>frame</key>
				<string>{{0,1176},{356,182}}</string>
				<key>offset</key>
				<string>{-13,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,12},{356,182}}</string>
				<key>sourceSize</key>
				<string>{356,182}</string>
			</dict>
			<key>元件 170026</key>
			<dict>
				<key>frame</key>
				<string>{{356,1176},{362,186}}</string>
				<key>offset</key>
				<string>{-10,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,8},{362,186}}</string>
				<key>sourceSize</key>
				<string>{362,186}</string>
			</dict>
			<key>元件 170027</key>
			<dict>
				<key>frame</key>
				<string>{{0,1362},{368,188}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,6},{368,188}}</string>
				<key>sourceSize</key>
				<string>{368,188}</string>
			</dict>
			<key>元件 170028</key>
			<dict>
				<key>frame</key>
				<string>{{368,1362},{374,192}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{374,192}}</string>
				<key>sourceSize</key>
				<string>{374,192}</string>
			</dict>
			<key>元件 170029</key>
			<dict>
				<key>frame</key>
				<string>{{0,1554},{382,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{382,194}}</string>
				<key>sourceSize</key>
				<string>{382,194}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>w.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>w.png</string>
		</dict>
	</dict>
</plist>
